<!DOCTYPE html>
<html lang="en">

<head>
	<title>San Antonio Coding Challenge | Events</title>
	<%- include partials/meta.ejs %>
</head>

<body>

	<%- include partials/nav.ejs %>

	<div class="jumbotron">
		<div class="content container">
			<h1>events</h1>
		</div>
	</div>

	<div class="container">

		<div class="ui cards">
			
		<% for (var i = 0; i < data.length; i++) { %>
			
			<div id="event">

				<div class="ui card" id="mainEventInfo">
					<div class="content">
						<div class="header" id="eventName"><%= data[i].name %></div>
					</div>
					<div class="content" id="eventDescription"><%- data[i].description %></div>
					<div class="extra content">
						<a href="<%= data[i].url %>" id="eventURL" target="_blank"><i class="fa fa-lg fa-meetup"></i></a>
						<label class="ui label" id="rsvps"><i class="fa fa-lg fa-users"></i> 
							<%= data[i].rsvps %> <%= data[i].rsvps === 1 ? 'person' : 'people' %> going
						</label>
					</div>
				</div>

				<div class="ui card" id="eventDetails">
					<div class="content">
						<div id="eventTime">
							<p><i class="fa fa-lg fa-calendar"></i></p>
							<p><%= data[i].time %></p>
							<p>6:30 PM – 9:30 PM CDT</p>
						</div>
					</div>
					<div class="content">
						<div id="eventLocation">
							<p><i class="fa fa-lg fa-map-marker"></i></p>
							<p><%= data[i].venue %></p>
							<p><%= data[i].address %></p>
							<p><%= data[i].city %>, <%= data[i].state %></p>
						</div>
					</div>
				</div>

			</div>

	    <% } %>		

		</div>

	</div>

	<%- include partials/footer.ejs %>