<!DOCTYPE html>
<html lang="en">

<head>
	<title>San Antonio Coding Challenge | Events</title>
	<%- include partials/meta.ejs %>
	<meta name="description" content="View upcoming competitions hosted by the San Antonio Coding Challenge meetup.">
</head>

<body>
	<% page = "events" %>
	<%- include partials/ga.ejs %>
	<%- include partials/nav.ejs %>

	<div class="jumbotron">
		<div class="content container">
			<h1>events</h1>
		</div>
	</div>

	<div class="container">

		<div class="ui cards" id="events">
			
		<% for (var i = 0; i < data.length; i++) { %>
			
			<div class="ui card event">

				<div id="mainEventInfo">
					<div class="content">
						<h3 class="header" id="eventName"><%= data[i].name %></h3>
					</div>
					<div class="content" id="eventDescription"><%- data[i].description %></div>
					<div class="extra content">
						<button class="ui label" id="eventURL">
							<a href="<%= data[i].url %>" target="_blank"><i class="fa fa-lg fa-meetup"></i> Event Link</a>
						</button>
						<div class="ui label" id="rsvps"><i class="fa fa-lg fa-users"></i> 
							<%= data[i].rsvps %> <%= data[i].rsvps === 1 ? 'person' : 'people' %> going
						</div>
					</div>
				</div>

				<div id="eventDetails">
					<div class="content">
						<div id="eventTime">
							<p><i class="fa fa-lg fa-calendar"></i></p>
							<p><%= data[i].time %></p>
						</div>
					</div>
					<div class="content">
						<div id="eventLocation">
							<a href="https://maps.google.com/?q=<%= data[i].venue %> <%= data[i].address %>" target="_blank" alt="Google Maps address">
								<p><i class="fa fa-lg fa-map-marker"></i></p>
								<p><%= data[i].venue %></p>
								<p><%= data[i].address %></p>
								<p><%= data[i].city %>, TX</p>								
							</a>
						</div>
					</div>
				</div>

			</div>

	    <% } %>		
		<button class="ui blue button" id="showMoreEvents">More <i class="fa fa-lg fa-chevron-down"></i></button>

		</div>


	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/events.js"></script>
	<%- include partials/footer.ejs %>