<!DOCTYPE html>
<html lang="en">

<head>
	<title>San Antonio Coding Challenge | Photos</title>
	<%- include partials/meta.ejs %>
		<meta name="description" content="View photos of past events held by the San Antonio Coding Challenge meetup.">
</head>

<body>

	<%- include partials/nav.ejs %>

		<div class="jumbotron">
			<div class="content container">
				<h1>photos</h1>
			</div>
		</div>

		<div class="container">

			<div class="ui cards photos">

				<% for (var i = 0; i < photos.length; i++) { %>

					<div class="ui card">
						<a class="image" href="<%= photos[i].link %>" target="_blank">
							<img src="<%= photos[i].thumbnail %>" alt="<%= photos[i].title %>">
						</a>
						<div class="content">
							<a class="header" href="<%= photos[i].link %>" target="_blank">
								<%= photos[i].title %>
							</a>
							<div class="meta">
								<a class="date" href="<%= photos[i].link %>" target="_blank">Activity on <%= photos[i].latestActivity %></a>
							</div>
						</div>
						<div class="extra content">
							<a href="<%= photos[i].link %>" target="_blank">
								<i class="photo icon"></i><%= photos[i].numberOfPhotos %> <%= photos[i].numberOfPhotos === 1 ? 'photo' : 'photos' %> 
							</a>
						</div>
					</div>

				<% } %>

			</div>

		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="/events.js"></script>
		<%- include partials/footer.ejs %>